@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Base styles */
body {
  @apply text-black bg-[#fcfaf6];
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  cursor: none;
}

/* Container */
.container {
  @apply max-w-6xl mx-auto px-6;
}

/* Section spacing */
.section {
  @apply py-24;
}

/* Project card */
.project-card {
  @apply bg-neutral-900 p-6 rounded-xl border border-neutral-800 hover:border-neutral-600 transition cursor-pointer;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:#fcfaf6;
}



h1, h2, h3, button, a {
  font-weight: 500;
  font-family: 'Barrio', cursive;
}


.cursor {
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: url('/cursor1.svg') no-repeat center center;
  background-size: contain;
  transition: background 0.05s, transform 0.1s ease;
}

/* Hover verzia */
.cursor.hover {
  background: url('/cursor2.svg') no-repeat center center;
  background-size: contain;
  transform: translate(-50%, -50%) scale(1.5);
}

a, button {
  cursor: none;
}